/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  /* Color Palette */
  --primary-color: #3f51b5; /* Indigo */
  --secondary-color: #f50057; /* Pink */
  --background-dark: #121212;
  --background-light: #ffffff;
  --surface-dark: #1e1e1e;
  --surface-light: #f5f5f5;
  --text-dark: #e0e0e0;
  --text-light: #212121;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-dark);
    background-color: var(--background-dark);
  }
  
  .card {
     background-color: var(--surface-dark);
     border-color: #424242;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
